body {
    background-color: darkslategrey;
}
header {
    color: white;
    text-align: center;
    font-size:36px;
    position: fixed;
    height: 50px;
    background-color: black;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
}
img {
    border: double black 50px;
    display: block;
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
    height: 40em;
}
footer {
    position: fixed;
    height: 50px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}